<% include partials/header %>
<h2>Login Form</h2>

<form action="/login" method="POST">
  <div class="imgcontainer">
    <img src="https://media.licdn.com/dms/image/C4E03AQGFopaKsTBWcg/profile-displayphoto-shrink_200_200/0?e=1554940800&v=beta&t=5IQjV9ZD7qj-JLHnkGZi5SiMcUnNLR6OJnCnl59qrbg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form


<% include partials/footer %>