<% include partials/header %>
<h2>Login Form</h2>

<form action="/login" method="POST">
  <div class="imgcontainer">
    <img src="https://scontent-lhr3-1.cdninstagram.com/vp/eabfa600d062381d6e8e884283e10b74/5D038722/t51.2885-15/e35/43984814_196883347868493_2739766924126198288_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&se=7&ig_cache_key=MTkwMDYxNjk1ODQ4NTU4MzE0NQ%3D%3D.2" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button type="submit">Login</button>
     
  </div>

   
</form


<% include partials/footer %>
