<%include partials/header%>
   <body style="background-image:url('http://4.bp.blogspot.com/-ckNQzDUbFzM/U4bf9CpGnLI/AAAAAAAANXQ/Le4D3tYr0AM/s1600/moon+hd+wallpaper+1.jpg');" >


<h2 style="color:white;"><center><%=PortfolioFieldType.name%></center></h2>


<div class="container">
 <form  id="form1" action="/<%=PortfolioFieldType.name%>/create/uploadText" method="POST" >

  
      <label for="fname">Project Name</label>
   
      <input type="text" id="field" name="projectName" placeholder="Project Name ..">
   
   <label for="Github link">Repo Link</label>
   
      <input type="text" id="field" name="repo" placeholder="Github repo">
   
 
   <p>
      <label for="subject">Subject</label>
   
      <textarea type="text" id="field" name="disciption" placeholder="Write something.." style="height:200px"></textarea>
   
  </p>
    
 
  </form>
 
  <p>
   <form id="form2" action="/<%=PortfolioFieldType.name%>/create/uploadImage" method="POST" enctype="multipart/form-data">

      <label for="picture">Picture</label>
   
     <input  name ="myImage"type="file" name="pic" accept="image/*">
 
  
        <input type="button" value="Submit" onclick="submitForm()">
  </div>
  </form>
  </p>
   
</div>
 
 </div>
 
 <script>
  function submitForm(){
   
setTimeout(function(){window.document.getElementById("form2").submit();}, 1000);     
setTimeout(function(){ window.document.getElementById("form1").submit();},2000);   

 

  }
  
 </script>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <%include partials/footer %>